{
  "ver": "2.0.14",
  "importer": "typescript",
  "imported": true,
  "uuid": "0824f03f-42f3-4de1-9e06-fb3f054725e1",
  "files": [
    ".js",
    ".trans"
  ],
  "subMetas": {},
  "userData": {
    "importAsPlugin": false,
    "moduleId": "project:///assets/Framework3D/Src/AD/sdkConfig.js"
  }
}
